# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# C++ Builder specific temporary directories
__history/
__astcache/
__recovery/

# C++ Builder specific temporary files
*.ilc
*.ild
*.ilf
*.ils
*.pdi
*.tds

Win32/
MegaBattle2.cbproj.local
HeroEdit.cbproj.local
MegaBattleProjectGroup.groupproj.local
Launcher2.cbproj.local
